body{
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-family:'Myriad Pro','Berlin Sans FB','Century Schoolbook';
    background-color: #F8F8F8;
}
header{
    background: url("../images/programme/slide/yoga.jpg") no-repeat;
    width: 100%;
    background-size: 100%;
    min-height: 130vh;
    position: relative;
}
header .message{
    text-align: center;
    position: absolute;
    color: white;
    text-shadow: 0px 0px 8px black;
    top: 280px;
    left: 15%;
    width: 70%;
}
.message h3{
    font-size: 28px;
    font-weight: 400;
    text-decoration: underline;
}
.message h1{
    font-size: 60px;
    margin-top: 50px;
}
.avant{
    width: 80%;
    margin: 0 10%;
}
@media screen and (max-width: 1200px) {
    header{
        min-height: 87vh;
    }
    header .message{
        top: 190px;
    }
    .message h3{
        font-size: 28px;
    }
    .message h1{
        font-size: 48px;
        margin-top: 30px;
    }
    .avant{
        font-size: 24px;
    }
}
@media screen and (max-width: 850px) {
    header{
        min-height: 62vh;
    }
    header .message{
        top: 140px;
    }
    .message h3{
        font-size: 25px;
    }
    .message h1{
        font-size: 42px;
        margin-top: 30px;
    }
    .avant{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {

    header{
        min-height: 50vh;
    }
    header .message{
        top: 120px;
    }
    .message h3{
        font-size: 23px;
    }
    .message h1{
        font-size: 38px;
        margin-top: 30px;
    }
    .avant{
        font-size: 18px;
    }
}